statemachine/CABulkUpload.asl.json
{
  "Comment": "MediaTailor VOD Source bulk upload - Amazon States Language",
  "StartAt": "Read CSV from S3 and output JSON",
  "States": {
    "Read CSV from S3 and output JSON": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "${ImportFunctionArn}"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "Next": "Map",
      "Comment": "loads CSV from S3 and outputs contents as JSON",
      "OutputPath": "$.Payload"
    },
    "Map": {
      "Type": "Map",
      "Next": "SNS Publish",
      "Iterator": {
        "StartAt": "CreateVodSource",
        "States": {
          "CreateVodSource": {
            "Type": "Task",
            "Parameters": {
              "HttpPackageConfigurations": [
                {
                  "Path.$": "$.Path",
                  "SourceGroup.$": "$.SourceGroup",
                  "Type.$": "$.Type"
                }
              ],
              "SourceLocationName.$": "$.SourceLocation",
              "VodSourceName.$": "$.VodSourceName"
            },
            "Resource": "arn:aws:states:::aws-sdk:mediatailor:createVodSource",
            "Next": "Wait"
          },
          "Wait": {
            "Type": "Wait",
            "Seconds": 1,
            "End": true
          }
        }
      },
      "ItemsPath": "$",
      "ResultPath": "$",
      "MaxConcurrency": 10
    },
    "SNS Publish": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "Message.$": "$",
        "TopicArn": "${StateMachineSNSTopicArn}"
      },
      "Next": "Success"
    },
    "Success": {
      "Type": "Succeed"
    }
  }
}